################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/outputs/tetris-bundle.js.map
/outputs/tetris-bundle.js
